<%- include ("partials/header") -%>

      <main role="main" class="inner cover">
        <i class="fas fa-key fa-10x"></i>
        <h1 class="cover-heading">Secrets</h1>
        <p class="lead">Don't keep your secrets, share them online anonymously!</p>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-secondary">Login</a>
          <a href="/register" class="btn btn-lg btn-secondary">Register</a>
        </p>
      </main>

<%- include ("partials/footer") -%>
